# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lib
*.mp3
ReadObj/ReadObj.vcxproj.filters
*.user
*.vcxproj
ReadObj/Release/ReadObj.tlog/link.write.1.tlog
*.tlog
*.obj
*.mtl
*.bmp
Release/ReadObj.exe
*.iobj
Release/ReadObj.ipdb
*.pdb
备忘录.txt
*.log
*.sln
ReadObj.suo
*.suo
*.dll
*.dds
ReadObj/tank/m26_pershing/m26_pershing-2012/m26_pershing-2012.max
ReadObj.VC.VC.opendb
*.db
